@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito&display=swap')format('woff2');;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #020c1b;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    letter-spacing: 1px;
}

h1 {
    font-size: 5em; 
    color: #fff;
    /* text-shadow: 2px 2px 0 #8892b0, -2px -2px 0 #38C7A8, 2px -2px 0 #8892b0, -2px 2px 0 #8892b0; */

}

h2 {
    font-size: 3.33em; 
}

h3 {
    font-size: 2.5em; 
    color: #90BAD4;
}

h4 {
    font-size: 2em;
    color: #ccd6f6;
    font-weight: bold;
}

p {
    font-size: 1.1em; 
    color: #8892b0;
    /* font-weight: lighter; */
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2; 
    margin-bottom: 5px;
}
ul {
    list-style-type: none;
    /* color: #CAB5A7; */
} 
li {
    font-size: 1em;
    padding: 20px;
    color: #8892b0;
}
a {
    color:#8892b0;
    text-decoration:none;
}

a :hover {
    color: #38C7A8;
    transform: scale(1.5);
}

i {
    color:#ccd6f6;
}
.close-menu {
    display: none;
}
.image-container {
    position: relative;
    display: inline-block;
    padding: 40px;
    margin: auto;
}
.additional-overlay {
    position: relative;
    width: 300px;
    height: 300px; 
    border: 2px solid #38C7A8;
}
.additional-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 8; 
}
.image-container:hover .image {
    transform: scale(1) translate(-3%, -3%);
}
.overlay {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: #38C7A8; /* Red overlay with 50% opacity */
    opacity: 0.3;
    z-index: 10;
}
.image-container:hover .overlay {
    opacity: 0;
}
.home {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #020c1b;

}
.home li {
    float: right;
    margin-right: 20px;
    position: relative;
}

.column {
    float: left;
}

.left, .right {
    width: 5%;
    position: fixed;
}

.left {
    left: 0;
    bottom: 0;

}
.right {
    right: 0;
    bottom: 280px;
    align-items: center;
}

.two-parts {
    width: 50%;
    float: left;
}

.seventy-parts {
    padding-top:20px;
    padding-bottom: 20px;
}

/* .thirty-parts {
    width: 30%;
    float: left;
}

.seventy-parts {
    width: 70%;
    float: left;
} */

.middle {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: scroll;  /* Enable vertical scrolling */
    overflow-x: hidden;
    max-height: 100vh;   /* Set a maximum height for scrolling */
}
.middle::-webkit-scrollbar {
    width: 0.5em; /* Adjust scrollbar width if needed */
}

.middle::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make scrollbar thumb transparent */
}

.middle::-webkit-scrollbar-track {
    background-color: transparent; /* Make scrollbar track transparent */
}

.row:after {
    display: flex;
    content: "";
    clear: both;
}

.grid-container {
    border-radius: 15px; 
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    max-width: 800px;
}

.grid-item {
    animation: mymove 5s;
  animation-fill-mode: forwards;
}

.about-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px; 
    padding: 50px;
    max-width: 800px;
    z-index: 70;
}

.transparent-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #38C7A8;
    border: 2px solid #38C7A8; /* White outline */
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}
.content {
    display: none;
    padding: 0px 0px 0px 20px;
}

#oyoContent {
    display: block;
}

.active {
    display: oyoContent;
}
.active-link {
    color: #38C7A8;
}
.active-list-item {
    border-bottom: 2px solid #38C7A8;
    /* Add any other styling for the active list item */
}
.experience li:hover {
    background-color: #112240;
}

.experience-container {
    max-width: 700px;
    margin: 50px auto;
}
.transparent-button:hover {
    background: #112240;
     /* Adjust the hover background transparency */
    /* color: #CAB5A7;  */
}

.rotate-text {
    letter-spacing: 4px;
    font-size: 1em;
    transform: rotate(90deg);
    padding: 5px;
    margin-bottom: 20px;
    transform-origin: left bottom;
    font-weight: lighter;
    white-space: nowrap; /* Prevents the text from wrapping */
}

.home ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #38C7A8; /* Color of the underline */
    transition: width 0.3s ease-in-out;
}

.experience {
    clear: both;
    margin: 10px 120px;
    border-radius: 15px; 
}

.experience .seventy-parts li {
    line-height: 1.5;
    padding: 1px;
    text-align: justify;
    font-size: 1em; 
    /* letter-spacing: 2px; */
    color: #8892b0;
    font-weight: lighter;
}
.experience .seventy-parts ul {
    list-style: square;
}

.home ul li.active a::after,
.home ul li a:hover::after {
    width: 100%; /* Expand the underline on hover or for the active state */
}

.timeline {
    max-width: 800px;
    /* margin: 50px auto; */
    position: relative;
}

.timeline-item {
    position: relative;
    margin: 20px 0px;
    padding-left: 40px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 15px;
    left: -8px;
    width: 11px;
    height: 11px;
    background-color: #38C7A8;
}

.timeline-date {
    display: block;
    font-size: 0.9em;
    color: #8892b0;
    margin-bottom: 5px;
}

.timeline-title {
    font-size: 1.1em;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #8892b0;
    letter-spacing: 1px;
}

.timeline-content {
    color: #8892b0;
}

.timeline-content p {
    padding: 1px;
}

.education {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 600px;
    padding: 50px;
    
}

.projects {
    clear: both;
    margin: 50px;
    padding: 50px;
}

.cards {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
} 
.card {
    background-color: #0a192f;
    padding: 20px;
    width: 480px; /* 50% width for two cards, subtracting margin */
    height: auto;
    margin: 25px 0;
    border-radius: 10px;
}
.card p {
    letter-spacing: 1px;
    padding: 1px;
}
.card-title {
    color:#38C7A8;
    font-size: 1.1em;
    font-weight: lighter;
    padding: 1px;

}

.timeline-content p:hover {
    background-color: #112240;
}

.resume-section {
    position: relative;
    text-align: center;
    padding: 20px;
    clear: both; /* Clear float */
    margin-top: 20px; /* Adjust as needed */
}

#download-btn {
    max-width: 250px;
    margin: 20px;
}

#resume-container {
    /* width: 80vw; */
    z-index: 99;
    height: auto;
    background-color: #fff;
    margin: 100px 150px;
    padding: 80px;
    line-height: normal;
    letter-spacing: normal;
    
}

#resume-container h1 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14pt; }
#resume-container a { color: #1154CC; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 10pt; }
#resume-container .s2 { color: #1154CC; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
#resume-container h3 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt; }
#resume-container .p, #resume-container p { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; margin:0pt; }
#resume-container .s3 { color: black; font-family:Arial, sans-serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 9pt; }
#resume-container li {
    display: block; 
    padding-left: 25pt;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 25px;
}
#resume-container ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; /* Remove default list style (bullet point) */
}
#resume-container #l1 {padding-left: 0pt; }
#resume-container #l1> li>*:first-child:before {content: "â— "; color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; }

.tags
{
  display: block;
  justify-content: center;
  text-align: center;
}

.experience .tags {
    justify-content: left;
    text-align: left;
}
.timeline-content .tags {
    justify-content: center;
    text-align: justify;
}

.education .broker-tag {
    font-size: 0.9em;
    padding: 8px;
    margin: 3px 0;
}

.education .tags {
    justify-content: left;
    text-align: left;
}
.broker-tag
{
  /* background: rgba(100, 255, 218, 0.1); */
  font-size: 0.8em;
  font-weight: normal;
  line-height: 20px;
  padding: 5px 10px;
  margin: 3px 0;
  border: 1px solid #38C7A8;
  border-radius: 6px;
  background: #112240;
  display: inline-block;
  color: #8892b0;
}

.menu-toggle {
    display: none;
}

table {
    color: #8892b0;
    border-collapse: collapse;
    width: 100%;
}
th {
    background: rgba(100, 255, 218, 0.1);
}
td {
    border: 1px solid #90BAD4;
    text-align: center;
    padding: 8px;
    margin: 5px;
}
th {
    border: 1px solid #38C7A8;
    text-align: center;
    padding: 8px;
    margin: 5px;
}
table tr:hover {
    background-color: rgba(100, 255, 218, 0.1);; /* Change to the desired background color on hover */
}

/* Adjusting styles for row-photo class */
.row-photo {
    margin: 10px -16px;
}

.row-photo,
.row-photo > .column-photo {
    padding: 8px;
}

.column-photo {
    float: left;
    width: 50%; /* Adjusted to 50% to accommodate two photos in one column */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    display: none; /* Hide all elements by default */
}

.row-photo:after {
    content: "";
    display: table;
    clear: both;
}

.content-photo {
    background-color: #0a192f;
    border: 2px solid #38C7A8;
}

.column-photo.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    font-size: 1em;
    background-color: transparent;
    color: #8892b0;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #38C7A8;
    background-color: #112240;
    transform: scale(1.2);
}

.btn.active {
    border-bottom: 1px solid #38C7A8;
    background-color: #112240;
    color: #38C7A8;
}
.tabs{
    /* padding: 30px; */
    /* border-radius: 5%; */
    /* background-color: #0a192f; */
}
.tabs-controls :hover {
    /* border: 1px solid #38C7A8; */
    background-color: #112240;
}
.tabs-controls{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 16px;
}

.tabs-control{
	width: 100%;
	position: relative;
	padding: var(--gap-200, 8px);
	font-size: var(--fs-400, 1.1em);
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid rgba(100, 255, 218, 0.1);
    border: none;   
    color: #8892b0;
    background-color: #020c1b;
    cursor: pointer;

}
.tabs-control[aria-selected="false"]:before,
.tabs-control[aria-selected="true"]:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 0px;
	background-color: #38C7A8;
	transition: all 250ms ease-in-out;;

}
.tabs-control[aria-selected="true"]:before{
	height: 1px;
}

.tabs-panel[aria-selected="false"] {
    display: none;
    flex: 0 0 auto; /* Allow flexibility in sizing */
}

.tabs-panel[aria-selected="true"] {
    display: flex;
    flex: 1; /* Allow the panel to take available space */
}
.footer-container {
    margin: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 500px;
    /* margin-bottom: 30px; */
    /* color: #38C7A8; */
}

.grid-container p {
    letter-spacing: 1.5px;
}

.highlight-text {
    color :#38C7A8;
}
section {
    width: 100%;
    height: 100vh;
    background-color: #d1dadd;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(odd) {
    background-color: #ecf0f1;
}

h2 {
    font-size: 3rem;
}

.mobile-menu {
    display: none;
}

.overlay-menu {
    display: none;
}
.rotate-text :hover {
    transform: scale(1.2);
}
/* @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */

/* p {
    transition: opacity 0.3s ease-in-out;
} */

/* p:hover {
    animation: fadeIn 0.3s forwards;
} */

@keyframes dropIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1, h4, p, .transparent-button, .menu-items {
    opacity: 0; /* Initially hidden */
    animation: dropIn 1s ease-out 1s forwards; /* Delayed drop-in animation */
}

/* @keyframes spinIn {
    from {
        transform: rotate(-180deg);
        opacity: 0;
    }
    to {
        transform: rotate(0);
        opacity: 1;
    }
}

.broker-tag {
    /* opacity: 0; */
    /* transition: transform 0.5s ease-in-out;
}

.broker-tag:hover {
    animation: spinIn 1s ease-out forwards;
} */ 

